.jrModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 18, 33, 0.54);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.jrContent {
    background: #fff;
    color: #1f1f1f;
    padding: 1rem;
    border-radius: 16px;
    max-width: 400px;
    width: 90%;
    text-align: left;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    animation: popup 0.3s ease-in-out;

    max-height: 75vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #02ff02 transparent; 
}

.jrContent::-webkit-scrollbar {
    width: 8px;
}
.jrContent::-webkit-scrollbar-track {
    background: transparent;
}
.jrContent::-webkit-scrollbar-thumb {
    background-color: #012701;
    border-radius: 8px;
}


@keyframes popup {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.jrClose {
    position: relative;
}

.jrCloseBtn {
    position: absolute;
    top: -4rem;
    right: 0;
    background: #f87171;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.2s ease;

    &:hover {
        background-color: #ffffff;
    }
}


.jrTitle {
    font-size: 1.8rem;
    color: #0b3d0b;
    margin-bottom: 1rem;
    text-align: center;
}

.ruleGroup {
    background: #e8fce8;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 12px;
    border-left: 5px solid #2f9e44;
}

.ruleHeading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #1c5d1c;
    border-bottom: 1px solid #c0e9c0;
    padding-bottom: 0.4rem;
}

.jrList {
    list-style: none;
    padding-left: 0;
    font-size: 1rem;
    color: #2a3d2a;
    line-height: 1.8;
}

.bmiInfo {
    background-color: #e0f9e0;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    text-align: center;
    border: 1px dashed #66bb6a;
}

.bmiText {
    color: #155715;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.bmiLink button{
    color: #0c6b0c;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease;
}

.bmiLink button:hover {
    border-color: #0c6b0c !important;
    text-decoration: underline;
}